src/fr/.DS_Store
src/fr/uca/.DS_Store
src/.DS_Store
src/fr/uca/jgit/.DS_Store
*.xml
.DS_Store
.idea/misc.xml
out/.DS_Store
out/production/.DS_Store
out/production/JGIT_GESTION_PROJET/.DS_Store
out/production/JGIT_GESTION_PROJET/fr/.DS_Store
out/production/JGIT_GESTION_PROJET/fr/uca/.DS_Store
out/production/JGIT_GESTION_PROJET/fr/uca/jgit/.DS_Store
out/production/JGIT_GESTION_PROJET/fr/uca/jgit/Main.class
out/production/JGIT_GESTION_PROJET/fr/uca/jgit/model/Commit.class
out/production/JGIT_GESTION_PROJET/fr/uca/jgit/model/Folder.class
out/production/JGIT_GESTION_PROJET/fr/uca/jgit/model/JGitObject.class
out/production/JGIT_GESTION_PROJET/fr/uca/jgit/model/Node.class
out/production/JGIT_GESTION_PROJET/fr/uca/jgit/model/TextFile.class
.idea/misc.xml
.idea/misc.xml
